.App {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  flex-direction: column;
}
.con {
  background-color: #eeeeee89;
  height: 250px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
}

.btn-add {
  margin-bottom: 30px;
}

@media (min-width: 1025px) {
  .con {
    width: 60%;
  }
}
